.Car {
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    transition: all .2s linear;
}

.input {
    margin-right: 5px;
    outline:none;
}

.input.green {
    border: 1px solid green;
}

.input.red {
    border: 1px solid red;
}

.input.bold {
    border: 1px solid green;
    font-weight: bold;
}